<form class="text-indigo-800 flex flex-col w-full lg:w-3/4 gap-10">
  <div class="flex flex-col gap-1">
    <label class="" for="text">Full name</label>
    <input
      class="shadow-sm bg-indigo-800 text-slate-100 rounded-xl py-2 px-6 placeholder:text-slate-300"
      type="text"
      id="name"
      name="name"
      placeholder="Test User"
      required
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="" for="email">E-mail</label>
    <input
      class="shadow-sm bg-indigo-800 text-slate-100 rounded-xl py-2 px-6 placeholder:text-slate-300"
      type="email"
      id="email"
      name="email"
      placeholder="text@test.com"
      required
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="" for="password">Password</label>
    <input
      class="shadow-sm bg-indigo-800 text-slate-100 rounded-xl py-2 px-6 placeholder:text-slate-300"
      type="password"
      id="password"
      name="password"
      placeholder="********"
      required
    />
  </div>

  <div class="flex flex-col gap-1">
    <label class="" for="password-again">Password again</label>
    <input
      class="shadow-sm bg-indigo-800 text-slate-100 rounded-xl py-2 px-6 placeholder:text-slate-300"
      type="password-again"
      id="password-again"
      name="password-again"
      placeholder="********"
      required
    />
  </div>

  <button
    class="border-l-indigo-950 bg-indigo-800 rounded-full w-fit py-3 px-6 hover:bg-indigo-900 transition duration-300 text-slate-100 mx-auto shadow-md text-lg"
  >
    Register &rarr;
  </button>
</form>
