<main class="relative">
  <app-page-heading>
    A garden of favorites—ready to brighten your schedule.
  </app-page-heading>

  <mat-tab-group class="w-3/4">
    <!-- All favourite tasks -->
    <mat-tab label="Tasks">
      <div class="flex flex-col gap-10 my-10">
        <section
          class="min-w-96 w-full h-fit bg-indigo-100 rounded-3xl p-10 text-indigo-800"
        >
          <article>
            <h3 class="font-semibold text-lg">~ favourite tasks</h3>
            <app-todo-list [type]="'favourite'"></app-todo-list>
          </article>
        </section>

        <!-- Action buttons -->
        <section
          class="w-full grid grid-rows-4 grid-cols-1 md:grid-rows-2 md:grid-cols-2 2xl:grid-rows-1 2xl:grid-cols-4 justify-items-stretch gap-4 md:gap-6 items-center"
        >
          <!-- Add new task button -->
          <app-btn
            (buttonClick)="isCreateMenuOpen = !isCreateMenuOpen"
            class="text-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 inline mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
            <span class="w-fit">Add a new task</span>
          </app-btn>

          <!-- Clear button -->
          <app-btn class="text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 inline mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
            <span class="w-fit">Clear favourites</span>
          </app-btn>
        </section>
      </div>
    </mat-tab>

    <!-- Day templates -->
    <mat-tab label="Days">
      <section class="min-w-96 w-full my-10 h-fit">
        <app-searchbar
          [searchData]="days"
          [(actualData)]="filteredDays"
        ></app-searchbar>

        <ng-container *ngIf="filteredDays.length > 0; else elseTemplate">
          <app-day-template [days]="filteredDays"></app-day-template>
        </ng-container>
        <ng-template #elseTemplate>
          <h3
            class="text-indigo-800 text-4xl font-semibold w-full mt-10 leading-tight text-center"
          >
            No day template found with this name! Try another one, or just
            create it 😉
          </h3>
        </ng-template>
      </section>
    </mat-tab>

    <!-- Week templates -->
    <mat-tab label="Weeks">
      <section class="min-w-96 w-full my-10 h-fit">
        <app-searchbar
          [searchData]="weeks"
          [(actualData)]="filteredWeeks"
        ></app-searchbar>
        <ng-container *ngIf="filteredWeeks.length > 0; else elseTemplate">
          <div *ngFor="let week of filteredWeeks" class="mb-20">
            <h3
              class="text-indigo-800 text-4xl font-semibold w-full mb-10 leading-tight text-center"
            >
              <p
                *ngIf="week.isDeafult"
                class="text-sm text-pink-500 font-extralight"
              >
                Default
              </p>
              {{ week.name }}
            </h3>

            <!-- Action buttons -->
            <section
              class="w-full grid grid-rows-4 grid-cols-1 md:grid-rows-2 md:grid-cols-2 2xl:grid-rows-1 2xl:grid-cols-4 justify-items-stretch gap-4 items-center mb-10"
            >
              <app-btn (buttonClick)="('TODO')" class="text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 inline mr-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
                <span class="w-fit">Add a new day</span>
              </app-btn>

              <app-btn
                (buttonClick)="('TODO')"
                class="text-center"
                *ngIf="!week.isDeafult"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 inline mr-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12"
                  />
                </svg>

                <span class="w-fit">Make default</span>
              </app-btn>

              <app-btn class="text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 inline mr-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <span class="w-fit">Copy to next week</span>
              </app-btn>

              <app-btn
                (buttonClick)="isCalendarOpen = !isCalendarOpen"
                class="text-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 inline mr-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                  />
                </svg>
                <span class="w-fit">Copy to date</span>
              </app-btn>

              <app-btn class="text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 inline mr-2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
                <span class="w-fit">Delete week</span>
              </app-btn>
            </section>

            <!-- Calendar -->
            <section
              *ngIf="isCalendarOpen"
              class="w-3/4 mt-10 flex flex-col justify-center items-center gap-4"
            >
              <app-calendar></app-calendar>

              <div class="flex flex-row justify-between w-72">
                <button
                  class="px-4 py-2 rounded-lg bg-indigo-800 hover:bg-indigo-900 transition duration-300 text-slate-100 font-medium"
                  type="submit"
                  (click)="
                    $event.preventDefault();
                    isCalendarOpen = !isCalendarOpen;
                    ('(TODO SAVE MESSAGE TO DB)')
                  "
                >
                  Done
                </button>
                <button
                  class="px-4 py-2 rounded-lg bg-indigo-800 hover:bg-indigo-900 transition duration-300 shadow-md text-slate-100 font-medium z-50"
                  (click)="isCalendarOpen = !isCalendarOpen"
                >
                  Cancel
                </button>
              </div>
            </section>

            <app-day-template [days]="week.days"></app-day-template>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <h3
            class="text-indigo-800 text-4xl font-semibold w-full mt-10 leading-tight text-center"
          >
            No week template found with this name! Try another one, or just
            create it 😉
          </h3>
        </ng-template>
      </section>
    </mat-tab>
  </mat-tab-group>
</main>
