<div class="bg-indigo-200 py-5 px-3 flex flex-col gap-4 z-50 shadow-md text-lg">
  <h2 mat-dialog-title>
    <ng-container *ngIf="this.action === 'add-message'; else elseTemplate">
      {{ task.message ? "Modify" : "Add" }} message
    </ng-container>
    <ng-template #elseTemplate> Modify task ✏️</ng-template>
  </h2>

  <mat-dialog-content>
    <input
      class="bg-indigo-800 text-slate-100 rounded-xl px-4 py-2 selection:bg-indigo-500 min-w-72"
      [(ngModel)]="message"
      [value]="task.message"
      type="text"
      name="todo-message"
      id="todo-message"
      maxlength="50"
      placeholder="Add a message to this task..."
    />

    <select
      *ngIf="this.action === 'modify-task'"
      name="importance"
      id="importance"
      class="bg-indigo-800 text-slate-100 rounded-xl px-4 py-2.5 selection:bg-indigo-500"
      [(ngModel)]="importance"
    >
      <option value="important">Important</option>
      <option value="other">Other</option>
    </select>
  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      class="px-4 py-2 rounded-lg bg-indigo-800 hover:bg-indigo-900 transition duration-300 text-slate-100 font-medium mr-2 ml-4"
      type="submit"
      (click)="handleSubmit(); $event.preventDefault()"
    >
      Done
    </button>
    <button
      mat-button
      mat-dialog-close
      class="px-4 py-2 rounded-lg bg-indigo-800 hover:bg-indigo-900 transition duration-300 shadow-md text-slate-100 font-medium z-50"
      (click)="handleCancel(); $event.preventDefault()"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</div>
