@use "@angular/material" as mat;

:root,
:host {
  @include mat.snack-bar-overrides(
    (
      container-color: #3730a3,
      supporting-text-color: #f1f5f9,
      button-color: #f1f5f9,
    )
  );

  @include mat.checkbox-overrides(
    (
      selected-icon-color: #3730a3,
      unselected-icon-color: #3730a3,
      selected-focus-icon-color: #3730a3,
      selected-focus-state-layer-color: #3730a3,
      unselected-focus-icon-color: #3730a3,
      unselected-focus-state-layer-color: #3730a3,
      selected-hover-icon-color: #3730a3,
      selected-hover-state-layer-color: #3730a3,
      unselected-hover-icon-color: #3730a3,
      unselected-hover-state-layer-color: #3730a3,
      selected-pressed-icon-color: #3730a3,
      selected-pressed-state-layer-color: #3730a3,
      unselected-pressed-state-layer-color: #3730a3,
    )
  );

  @include mat.datepicker-overrides(
    (
      calendar-date-selected-state-text-color: #f1f5f9,
      calendar-date-selected-state-background-color: #3730a3,
      calendar-date-today-selected-state-outline-color: #3730a3,
      calendar-date-focus-state-background-color: #3730a3,
      calendar-date-hover-state-background-color: #3730a3,
      toggle-active-state-icon-color: #3730a3,
      toggle-icon-color: #3730a3,
      calendar-container-background-color: #e0e7ff,
    )
  );

  @include mat.form-field-overrides(
    (
      filled-focus-active-indicator-color: #3730a3,
      filled-active-indicator-color: #3730a3,
      filled-disabled-active-indicator-color: #3730a3,
      filled-hover-active-indicator-color: #3730a3,
      filled-error-active-indicator-color: #f87171,
      filled-error-focus-active-indicator-color: #f87171,
      filled-error-hover-active-indicator-color: #f87171,
      filled-container-color: #e0e7ff,
      filled-input-text-color: #3730a3,
      filled-label-text-color: #3730a3,
      filled-hover-label-text-color: #3730a3,
      container-text-weight: 500,
    )
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
